/* -------BODY-BACKGROUND--------- */
body {
    background-color: black;
    background-image:url(img/solarvideogif-darker.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    margin: 0;
}
/* -------NAVIGATION-BAR--------- */
#logo{
    margin-top: -5%;
    width: 70%;
    display: flex;
    margin-left: 15%;
    margin-right: 15%; 
}

header{
    background-color: black;
    margin-top: 0;
    overflow: hidden;
    top:0;
}

.nav{
    display:flex;
    margin-top: -50px;
    margin-bottom: 15px;
    flex-direction: row;
    column-gap: 12%;
    margin-inline-start: 12.5%;
}

.nav-current-page{
    color:red;
}

li a{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-style: initial;
    text-decoration: none;
    text-align: center;
}

li a:hover{
    color:red;
}


/* -------LATEST RELEASE CONTENT-------- */
.image-text-container{
    display: flex;
    align-items: center;
    justify-content: center; 
    margin-top: 0;
    gap: 20px; 
    padding: 20px;
}
.album-image{
    width: 150px;
    height: auto;
    border-radius: 5px;
}

.text-content{
    text-align: center;
}

.text-content h2, .text-content p{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.imgcovers{
    width: 10%;
}

.spotify-link{
    font-weight: bold;
    color:#1ED760;
}
/* -------MAIN/HOME PAGE TEXT-------- */
.mainh1{
    font-size: 40px;
    margin-top: 5%;
    margin-bottom: 3%;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.mainp{
    color: white;
    padding-inline: 20%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    word-spacing: 3px;
}

/* -----MEMBERS IMAGES----- */
.members-images-container{
    display: flex;
    align-items: center;
    justify-content: center; 
    margin-top: 2%;
    margin-bottom: 4%;
}
.members-images{
    border-radius: 200px;
    width: 300px;
}
.members-paragraph{
    color: white;
    padding-inline: 20%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    word-spacing: 3px;  
    margin-bottom: 10%;
}
/* ------FOOTER------- */
.footer-text{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 0;
    font-size: 12px;
}

.footer-image-container{
    display: flex;
    align-items: center;
    justify-content: center; 
    margin-top: 15%;
    gap: 10px;
}

.footer-imgs{
    width: 30px;
    height: auto;
}
/* -------BOOKING------- */
.booking-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 60%;
}

.booking-container-content{
    background-color: white;
    padding: 10%;
    border-radius: 20px;
    box-shadow: 0px 4px 10px #0000001a;
    max-width: 400px;
    width: 100%;
    text-align: center;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}

.booking-headers{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 5%;
}

.booking-headers h1{
    font-size: 50px;
}

form input, form select, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

form input:focus, form select:focus, form textarea:focus {
    border-color: #b1b1b1;
    outline: none;
    box-shadow: 0px 0px 4px #4f4f4f66;
}

form button {
    width: 100%;
    padding: 12px;
    background-color: #444444;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

form textarea {
    resize: vertical;
}

form button:hover {
    background-color: #aaaaaa;
}

.booking-rock-icon-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 70%;
}

/* ------SCHEDULE--------- */
.schedule-container {    
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 60%;
    margin-top: 5%;
}

.schedule-container-content {
    width: 1000px;
    padding: 20px;
    background-color: #282828;
    box-shadow: 0 8px 16px black;
    border-radius: 8px;
}

.schedule-container h1 {
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;

}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 15px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

th {
    background-color: #444;
    color: red;
    font-size: 1.1em;
    text-transform: uppercase;
    letter-spacing: 1px;
}

tr:nth-child(even) {
    background-color: #333;
}

tr:nth-child(odd) {
    background-color: #2c2c2c;
}

td {
    color: #f5f5f5;
}

tr:hover {
    background-color: #555;
}

/* ------CONTACT----- */
.contact-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 60%;
    margin-top: 5%;
}

.contact-container-content {
    max-width: 600px;
    width: 100%;
    background-color: white;
    padding: 30px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

.contact-container h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1em;
}

textarea {
    resize: vertical;
    min-height: 100px;
}

.contact-headers{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 5%;
}

.contact-headers h1{
    font-size:60px;
}

.contact-socials{
    display: flex;
    align-items: center;
    justify-content: center; 
    margin-top: 3%;
    gap: 150px;

}

.contact-imgs{
    width: 100px;
    height: auto;
}