/* -------BODY-BACKGROUND--------- */
body {
    background-color: black;
    background-image:url(img/solarvideogif-darker.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    margin: 0;
}
/* -------NAVIGATION-BAR--------- */
#logo{
    margin-top: -5%;
    width: 70%;
    display: flex;
    margin-left: 15%;
    margin-right: 15%; 
}

header{
    background-color: black;
    margin-top: 0;
    overflow: hidden;
    top:0;
}

.nav{
    display:flex;
    margin-top: -50px;
    margin-bottom: 15px;
    flex-direction: row;
    column-gap: 12%;
    margin-inline-start: 12.5%;
}

li a{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-style: initial;
    text-decoration: none;
    text-align: center;
}

li a:hover{
    color:red;
}

/* -------LATEST RELEASE CONTENT-------- */
.image-text-container{
    display: flex;
    align-items: center;
    justify-content: center; 
    margin-top: 0;
    gap: 20px; 
    padding: 20px;
}
.album-image{
    width: 150px;
    height: auto;
    border-radius: 5px;
}

.text-content{
    text-align: center;
}

.text-content h2, .text-content p{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.imgcovers{
    width: 10%;
}

.spotify-link{
    font-weight: bold;
    color:#1ED760;
}
/* -------MAIN/HOME PAGE TEXT-------- */
.mainh1{
    font-size: 40px;
    margin-top: 5%;
    margin-bottom: 3%;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.mainp{
    color: white;
    padding-inline: 20%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    word-spacing: 3px;
}

/* -----MEMBERS IMAGES----- */
.members-images-container{
    display: flex;
    align-items: center;
    justify-content: center; 
    margin-top: 2%;
    margin-bottom: 4%;
}
.members-images{
    border-radius: 200px;
    width: 300px;
}
.members-paragraph{
    color: white;
    padding-inline: 20%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    word-spacing: 3px;  
    margin-bottom: 10%;
}
/* ------FOOTER------- */
.footer-text{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 0;
    font-size: 12px;
}

.footer-image-container{
    display: flex;
    align-items: center;
    justify-content: center; 
    margin-top: 15%;
    gap: 10px;
}

.footer-imgs{
    width: 30px;
    height: auto;
}